<div class="content">
  <h1>Stupid coach</h1>
    <div class ="small_card">
      <h2>
        <%= params[:question] %>
      </h2>
      <p class="author">-You</p>
    </div>
  <div class ="small_card">
    <h2><%= @answer %></h2>
    <p class="author">-Your coach</p>
  </div>
  <%= link_to 'new question', "/ask", class: "text-decoration-none" %>
</div>
